/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-bg-1{
  background-color: #A2D2FF;
}
.color-bg-2{
  background-color: #FEF9EF;
}
.color-bg-3{
  background-color: #FF865E;
}
.color-bg-4{
  background-color: #FEE440;
}
.color-bg-5{
  background-color: #11052C;
}
.color-bg-6{
  background-color: #3D087B;
}
.color-bg-7{
  background-color: #F43B86;
}
.color-bg-8{
  background-color: #FFE459;
}


.color-text-1{
  background-color: #A2D2FF;
}
.color-text-2{
  background-color: #FEF9EF;
}
.color-text-3{
  background-color: #FF865E;
}
.color-text-4{
  background-color: #FEE440;
}
.color-text-5{
  background-color: #11052C;
}
.color-text-6{
  background-color: #3D087B;
}
.color-text-7{
  background-color: #F43B86;
}
.color-text-8{
  background-color: #FFE459;
}

.bg-banner {
  background-image: url('/public/assets/img/png-phone.png');
  background-repeat: no-repeat;
}

.bg-section{
  background-image: url('/public/assets/img/png-phone2.png');
  background-repeat: no-repeat;
}

.bg-banner-blue {
  background-image: url('/public/assets/img/bg-v1.png');
  background-repeat: no-repeat;
}

.bg-auth-blue {
  background-image: url('/public/assets/img/auth-mask.png');
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
